<!DOCTYPE html>
<html lang="en">
<html>
<head>

    <title>{{ title }}</title>

</head>
<body>
<div>

    <a href="{{ url_for('index') }}">Главная</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Вход</a>
    <a href="{{ url_for('register') }}">Регистрация</a>
    {% else %}
    <a href="{{ url_for('user', username=current_user.username) }}">Личный кабинет</a>
    <a href="{{ url_for('logout') }}">Выход</a>
    {% endif %}
</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>