{% extends 'base.html' %}


{% block content %}
<h1>Регистрация</h1>
<h3>Зарегистрироваться как</h3>
<form action="" method="post">
        <div>
  <input type="checkbox" name="executor" id="executor" value="executor" checked>
  <label for="executor">Исполнитель</label>

  <input type="checkbox" name="customer" id="customer" value="customer">
  <label for="customer">Заказчик</label>

    </div>
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password }}
    </p>
    <p>
        {{ form.retry_password.label }}<br>
        {{ form.retry_password }}
    </p>
    <p>
        {{ form.submit }}
    </p>
</form>
{% endblock content %}